.body{
    margin: 0;

    
}
.menu{
    background-color: #313942;
    width: 100%;
    height: 90px;
    margin: 0;
    border-bottom: 1px solid #313942;
    border-top: 1px solid black;
    position:fixed;
    top: 0;
    opacity: 1;
    z-index: 99999;
}

.imagem_menu img{
    width: 100%;
    opacity: 50;
}


.escrita{
    position: absolute;
    color: white;
    text-shadow: 3px 2px 1px 10px black;
    top: 35%;
    width: 100%;
    text-align: center;
    height: 50px;
}


.conteudo_1{
    width: 100%;
    height: 700px;
}

.covid{
    text-align: center;
    padding-left: 50px;
    margin-top: 2%;
    justify-content: center;


}

.cotainerNoticias{
    opacity: 1;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 970px;
    transition-property: opacity,transform;
}

.inicio, .covid-19_botao, .impactos, .perguntas, .contatos{
   display: inline;
   line-height: 89.5px;  
   padding-left: 90px;
   font-size: 10px;
   color: white;
   display:inline-block; 
   margin-left: 1%;
   padding-right: 0px;
}
.contatos{
  padding-left: 10px;  
  
}
.covid{
    padding-left: 30px;
    padding-right: 480px;
    font-size: 30px;
    text-shadow: 3px 3px 4px black;
    color: white;
    text-decoration: none;
    width: 10%;
    
    
}

.perguntas{
 padding-left: 10px;
 
}
.covid-19_botao{
    padding-left: 0.1px;
    
} 

.inicio{
    padding-left: 1px;
    color: #FFFFFF;
    text-decoration: none;
    
}

.impactos {
    padding-left: 1px;
    
}

.inicio a{
    color: #FFFFFF;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    color: #FFFFFF;
    text-decoration: none;
} 

.conteudo_1{
    width: 80%;
    height: 700px;
    text-align: center;
}
.main_h1, .p_1{
    font-style: arial;
}

.main_h1{
    padding-top: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-align: center;
}

.p_0{
    
    font-family: 'Open Sans',Arial,sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
    font-size: 15px;
    line-height: 30px;
}
.p_1{
    font-family: 'Open Sans',Arial,sans-serif;
    color: #000000;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 10px;    
}

p{
    margin: 0;
}

.linha{
    margin-top: 1%;
    margin-bottom: 5%;
    width: 3%;
    background-color: #00adb5;
    height: 2px;
    align-items: center;
}

.main_h2{
    text-align: center;
    font-size: 20px;
}

ul{
    list-style-position: inside;
    text-align: center;
}
li{

}

.second_h2{
    text-align: center;
    font-size: 20px;
}

.noticias {
    width:100%;
    background:#ebebeb;
    height: 160px;
    
    
}



.texto_noticias{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background:#ebebeb;
}

.texto_1, .texto_2, .texto_3{
    font-size: 9px;
}

.imagem_noticias{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:#ebebeb;
    width: 100%;
}

.paragrafo_noticias{
    height: 200px;
    display:flex;
    justify-content: space-around;
    text-align: center;
    background: #ebebeb;
}

.paragrafo_1, .paragrafo_2, .paragrafo_3{
    width: 30%;
}

.texto_video{
    display:flex;
    justify-content: center;
    text-align: center;
    background: #ebebeb;
    width: 100%;
}


.linha_video{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ebebeb; 
}



.video{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:#ebebeb;
    padding-bottom: 5px;
    height: 450px;

}






/* ÁREA REFERENE AO RODAPÉ DA PÁGINA */

footer{
	width: 100%;
	height: 150px;
	color: white;
}

.bolinha{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

}


.fa-facebook-f, .fa-instagram, .fa-youtube{font-size: 24px;}

.icones{display: flex; justify-content: center;}

.bg-pri{background-color: #313942;}
.bg-sec{background-color: #01adb5 ;}
.bg-fundo{background-color: #343434;}

.text-pri{color: #313942;}
.text-sec{color: #01adb5;}
.text-fundo{color: #343434;}

.texto_footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: space-around;  
    font-size: 16px;
}  

.texto_footer2{
    padding-top: 15px;
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
 
}

.texto_footer3{
    display: flex;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
}




